database.server-name = 192.168.11.165
database.database-name = sempio
database.user = sempio
database.password = sempio

rythm.base-directory = file:E:/project/address/Iropke-Address/template
rythm.mode = dev

